name: plan_ai_flutter
description: "Plan AI - Smart Learning Plan Assistant"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.1.0
  flutter_secure_storage: ^9.0.0
  provider: ^6.1.0
  audioplayers: ^5.2.0
  flutter_dotenv: ^5.1.0
  fl_chart: ^0.66.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
